<div style='border:1' class='col-md-4' *ngIf='toggleForm'>

<form #f='ngForm' (ngSubmit)='submit(f.value)' ngNativeValidate>
  <div  class='form-group'>
    <label for="id">ID</label>
    <input type="text" name='id' [(ngModel)]='policyData.id' class='form-control'></div>
  <div  class='form-group'>
    <label for="policyHolderName">policy Holder Name</label>
    <input type="text" [(ngModel)]='policyData.policyHolderName' name='policyHolderName' class='form-control' required></div>
  <div class='form-group'><label for="policyAmount">policy Amount</label>
    <input type="text" [(ngModel)]='policyData.policyAmount' name='policyAmount' class='form-control'></div>
  <div class='form-group'><label for="matureDate">mature Date</label><input type="date" name='matureDate' [(ngModel)]='policyData.matureDate' class='form-control'></div>
  <div class='form-group'><label for=""></label><input type="Submit" [value]='buttonText' class='form-control' ></div>
  [disabled]='f.invalid'
</form>
</div>


<br/>-----------------------------------<br/>
PAgination and filter

<table class='table table-bordered table-striped'>

<tr>
  <td><label>enter name </label></td>
  <td><input [(ngModel)]='srchName'></td>
  <td><button (click)='showForm()' [ngClass]="{'fa':true, 'fa-arrow-up' :showUp, 'fa-arrow-down':showDown}">Add</button></td>
</tr>

  <tr>
  <th>Id</th>
  <th>Policy Name</th>
  <th>Policy amount</th>
  <th>Maturity Date</th>
  <th>Edit</th>
  <th>Delete</th>
</tr>
<tr *ngFor="let eachPolicy of polictyList | filter:'policyHolderName':srchName |paginate:{itemsPerPage:3,currentPage:page}">
  <td>{{eachPolicy.id}}</td>
  <td>{{eachPolicy.policyHolderName}}</td>
  <td>{{eachPolicy.policyAmount | currency:'INR':'symbol'}}</td>
  <td>{{eachPolicy.matureDate | date: 'medium'}}</td>
  <td><button class='fa fa-2x fa-edit' (click)='update(eachPolicy)'></button></td>
  <td><button class='fa fa-2x fa-remove' (click)='remove(eachPolicy)'></button></td>

</tr>
</table>
<pagination-controls (pageChange)='page=$event'></pagination-controls>

---------------------------------


